textarea.textarea {
  background: transparent;
  color: #999;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid rgba(177, 176, 176, 0.25);
  border-radius: 2px;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  height: 150px;
}

label.label {
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 14px;
}
