@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #343a40;
}
